/* Importing the font (regular and bold ) */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

/* Colors used on page */
/* #f4f4f4 */
/* #eb4442 */
/* #e6e6e6 */
/* #2b2b3e */

  /* Basic Styles */
  body{
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
    background-color: #f4f4f4;
  }


.container{
    width: 80%;
    margin: auto;
    /* The Overflow property helps the image to display correctly without messing up the page. Will clip the 'overflowing' content */
    overflow: hidden;

}

 ul{
    margin: 0;
}

.btn-1{
    height: 36px;
    background-color: #eb444e;
    border:0;
    padding: 0, 20px;
    color:#fff;
}

.light, .dark{
    padding:15px;
    margin:10px, 0;
}

.light{
    background-color: #e6e6e6;
    color:#2d2d3e;
}

.dark{
    background-color: #2d2d3e;
    color: #e6e6e6;
}

/* Header */
header{
  background-color:#2d2d3e;
  color:#e6e6e6;
  /* Setting min-height so the height for the header section can expand if needed */
  min-height: 70px ;
  border-bottom:3px solid #eb444e;
  padding:5px, 0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
  /* Changing/increasing the amount of verticle space the ul takes up so the li elements can be centered veertically  */
  height:100%;
}

header li{
  /*  Removes the bullet point or number on a list item */
  list-style:none;
  padding:0, 20px;
}

header a {
 color:#e6e6e6;
 text-decoration: none;
 text-transform:uppercase;
 font-size: 18px;
}

#highlight, #current a {
  color: #eb444e;
  font-weight:700;
}
/* Can be #current a.. which selects all a elements except for the "HOME" a tag */
a:not([href="#"]):hover{
  color:#ccc;
  font-weight:700;
  letter-spacing: 0.15px ;
}

/* Showcase */
#showcase{
  background-image: url("laptop.png");
  min-height:400px;
  background-size:cover;
  background-position: center;
  text-align:center;
  color:#fff;
}
#showcase .container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:100%;
}

#showcase h1 {
  font-size:55px;
}
#showcase p {
  font-size:20px;
}

/* Newsletter */
#newsletter {
  background-color: #2d2d3e;
  padding:15px;
  color:#e6e6e6;
}

#newsletter .container{
  display: flex;
  align-items:center;
  justify-content:space-between;
}

#newletter input {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes {
  /* Fit content allows for the space (Height in this example) to change to fit the content inside the element */
  height:fit-content;

}

#boxes .container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.box{
  width:30%;
  text-align: center;
  padding: 10px;
}

i{
  font-size:225px;
}

/* .fa-html5{
color:#d45632;
}

.fa-css3-alt{
color:#2d50dc
}

.fa-js{
color: #f3df50
} */

/* About */
#about{
  background-color: #2d2d3e;
  padding: 20px;
  color:#fff;
}

#about .container{
  display:grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;
}

/* Services */
#services .container{
  display:grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;
}

#services ul {
  /* Removes left padding as well as Bullet Points */
  padding:0;
}

#services li{
  border: 1px solid #ccc ;
  padding: 20px;
  margin-bottom: 5px ;
  background-color: #e6e6e6;
}

#services .sidebar{
  margin-top: 10px ;
}

#services input, #services textarea {
  width:90%;
  margin-bottom: 10px ;
  padding: 5px;
}

/* Footer */
footer{
  background-color: #2d2d3e;
  color:#e6e6e6;
  padding: 20px;
  text-align:center;
  margin-top:20px;
}

/* Media Queries */
@media (max-width:768) {
  header .container, #newsletter .container, #boxes .container {
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-bottom: 20px;

  }
  header ul {
    padding:0;
  }
  .box{
    width: 80%;
  }
  
  #about .container, #services .container{
    grid-template-columns:: 1fr ;
  }
}
